
/*        Color System        */

$primary-color-1: #003459;
$primary-color-2: #0078CD;
$primary-color-3: #00528C;
$primary-color-4: #002A48;

$secondary-color-1: #F7DBA7;
$secondary-color-2: #FCEED5;
$secondary-color-3: #F1D092;
$secondary-color-4: #EEC77E;

$state-color-pink-red: #FF564F;
$state-color-green-light: #34C759;
$state-color-orange-shine: #FF912C;
$state-color-blue-sea: #00A7E7;

$neural-color-00: #FDFDFD;
$neural-color-10: #EBEEEF;
$neural-color-20: #CCD1D2;
$neural-color-40: #99A2A5;
$neural-color-60: #667479;
$neural-color-80: #242B33;
$neural-color-100: #00171F;

